/*
Theme Name: forest lake
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: forest-lake
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

forest lake is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/


/* page */
/* header */

a {
  color:black;
}

  a.gr {
    color:#737f35;
  }

.amenities ul li {
  display:block;
  padding:0!important;
}

.county {
  list-style-type: none;
  font-weight:bold;
  font-size:16px;
  color:#fff;
  background-color:black;
  max-width:200px;
  margin:5px;
}

.county a {
  color:#fff;
  display:block;
  padding:10px;
}

  .county a:hover {
    background-color:#737f35;
  }

.flex-direction-nav a {
  color:#d84949;
  border:2px solid #d84949;
}

.frm_style_formidable-style.with_frm_style input[type=submit] {
  background-color:#737f35;
  border-color:#737f35;
  border-radius: 0px!important;
  color:white;
  text-transform:uppercase;
  min-width:197px;
  font-family: 'Raleway', sans-serif;
  font-weight:bold;
  height:40px;
}


.frm_style_formidable-style.with_frm_style input[type=submit]:hover {
  background-color:#646d33;
  border-color:#646d33;
  color:white;
}

#field_9jv0r12, #field_qh4icy2, #field_29yf4d2 {
  border-radius: 0px;
}

  #field_9jv0r12:focus, #field_qh4icy2:focus, #field_29yf4d2:focus {
    border-color:#333333;
  }

.frm_style_formidable-style.with_frm_style .form-field input:not([type=file]):focus, .frm_style_formidable-style.with_frm_style textarea:focus {
  box-shadow: 0 0 0;
}

h1.lower {
    text-transform:none;
}

h3.feature {
  color:white;
  font-size:1.3em;
}  

#top {
  background-color: #111;
  color: #aaa;
  font-size: .928em;
}

.navbar-header {
  position: relative;
}

iframe {
  max-width:100%;
}

#img-res {
    width: 80%;
    height: auto;
}

.logo {
  background: #737f35;
  height: 120px;
  left: 0;
  position: absolute;
  text-align: center;
  top: -38px;
  width: 240px;
}

.logo img {
  margin-top: 30px;
}

.page-header {
  padding-left:20px;
}

.pgl-navbar-main .navbar-collapse, .pgl-agents, .pgl-detail, .pgl-footer, .text-note, .contact {
  font-size:1.2em!important;
}

.pgl-agents {
  background-color:white!important;
}

.pgl-agent-info {
  font-size:14px;
}

.property-thumb-info-content {
  padding:18px;
  min-height:122px;
}

.property-thumb-info-content address {
  margin:0;
}

/*.property-thumb-info-content, .pgl-agent-info {
  font-size:18px;
}

 pgl-navbar-main */
.dropdown-menu {
  background-color: #111;
  border: none;
  border-radius: 0;
  font-size: 1.083em;
  padding: 10px 20px;
  text-transform: none;
}

.dropdown-menu > li > a {
  color: white;
  padding: 15px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #737f35;
  color: white;
}

.dropdown-menu > li + li {
  border-top: 1px solid #151515;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #737f35;
}

.dropdown-menu .dropdown-menu {
  left: 100%;
  margin: 0 0 0 20px;
  top: 0;
}

.pgl-navbar-main {
  background-color: white;
  border-color: transparent;
  border-width: 0;
  border-radius: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  min-height: 80px;
  margin-bottom: 0;
  z-index: 1;
}

.pgl-navbar-main .navbar-collapse {
  border-color: transparent;
  font-size: .857em;
  font-weight: 700;
  text-transform: uppercase;
}

.pgl-navbar-main .navbar-nav > li > a {
  padding: 30px 20px;
}

.pgl-navbar-main .navbar-nav > li > a:hover, .pgl-navbar-main .navbar-nav > li > a:focus {
  background-color: #111;
  color: white;
  cursor:default !important;
}

.pgl-navbar-main .navbar-nav > .active > a, .pgl-navbar-main .navbar-nav > .active > a:hover, .pgl-navbar-main .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #737f35;
}

.pgl-navbar-main .navbar-nav > .open > a,
.pgl-navbar-main .navbar-nav > .open > a:hover,
.pgl-navbar-main .navbar-nav > .open > a:focus {
  background-color: #111;
  color: white;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #737f35;
  border-color: transparent;
  color: white;
}

.navbar-default .navbar-toggle {
  border: none;
  border-radius: 0;
  margin: 36px 0 0;
  padding: 0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #333;
  width: 20px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #737f35;
}

.overlay {
   background:transparent; 
   position:relative; 
   width:847px;
   height:305px; /* your iframe height */
   top:305px;  /* your iframe height */
   margin-top:-305px;  /* your iframe height */
}

/* page-top */
.page-top {
  background: url(../images/header.jpg) no-repeat #333;
}

.page-top .container {
  display: table;
  height: 250px;
}

.page-top .page-top-in {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.page-top h1 {
  font-size: 2.571em;
  margin: 0;
  text-transform: uppercase;
}

.page-top h1 span {
  background-color: white;
  display: inline-block;
  padding: 24px 27px;
}

/* pgl-advanced-search */
.chosen-select {
  height: 40px;
  padding: 0 10px;
  width: 100%;
}

.pgl-advanced-search {
  border-bottom: 1px solid #eae3af;
  padding: 50px 0 30px;
}

.pgl-advanced-search .form-group {
  margin-bottom: 20px;
}

/* pgl-featured */
.pgl-featured {
  padding-bottom: 20px;
  padding-top: 60px;
}

.pgl-featured h2 {
  margin-right: 100px;
}

.pgl-featured-bottom {
  padding-bottom: 60px;
}

/* pgl-properties */
.pgl-properties {
  padding-bottom: 30px;
  padding-top: 34px;
}

.pgl-properties h2 {
  margin-right: 100px;
}

/* pgl-agents */
.pgl-agents {
  padding-top: 53px;

}

/* testimonial */
.pgl-testimonial {
  height: 388px;
  padding: 30px 15px;
  position: relative;
  text-align: center;
}

.pgl-testimonial h4 {
  color: #737f35;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.pgl-testimonial .owl-controls .owl-buttons > div {
  background-color: transparent;
  position: absolute;
  top: 60px;
}

.pgl-testimonial .owl-controls .owl-buttons .owl-prev {
  left: 58px;
}

.pgl-testimonial .owl-controls .owl-buttons .owl-next {
  right: 58px;
}

/* pgl-about */
.pgl-about {
  padding-top: 54px;
  margin-bottom: 10px;
}

/* map */
.pgl-properties-map {
  padding-top: 53px;
}

.map {
  height: 525px;
}

.contact {
  margin-bottom: 60px;
}

#contact-map {
  height: 305px;
  margin-bottom: 37px;
  width: 100%;
}

/* footer */
.pgl-footer {
  background-color: #111;
  color: #666;
  padding: 60px 0 20px;
}

.pgl-footer h2 {
  color: white;
  font-size: 1em;
  margin-bottom: 25px;
}

.pgl-footer li {
  margin-bottom: 5px;
}

.pgl-upper-foot {
  margin-bottom: 12px;
}

.pgl-upper-foot a {
  color: #666;
}

.pgl-upper-foot a:hover, .pgl-upper-foot a:focus {
  color: #737f35;
}

.pgl-upper-foot p {
  margin-bottom: 15px;
}

.pgl-upper-foot address {
  line-height: 2.2;
}

.pgl-copyrights {
  border-top: 1px solid #222;
  padding-top: 35px;
}

.pgl-copyrights a {
  color: #737f35;
}

.pgl-copyrights a:hover, .pgl-copyrights a:focus {
  color: #666;
}


/* Custom */

h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus, h4 a:hover, h4 a:focus, h5 a:hover, h5 a:focus, h6 a:hover, h6 a:focus {
	color:#737f35;
}

.amenities-detail {
	background-color: #fff;
}

.amenities {
  min-height:92px;
}

a.back  {
  color:black;
  font-weight:bold;
  font-size:18px;
  margin-bottom:20px!important;
  display:inline-block;
}

  .back:hover {
    color:#737f35;
  }

body {
  color: #666;
  font-family: 'Raleway', sans-serif;
  line-height: 1.8;
}

.block {
	background-color: transparent;
}

.btn-primary {
	background-color:#737f35;
	border-color:#737f35;
}

	.btn-primary:hover, .btn-primary:focus {
		background-color:#646d33;
		border-color:#646d33;
	}

.content {
	padding-top:0px;
}

.featured-item h3 {
  text-transform:none;
}

.page-top {
    background-color: #EBE8E1;
}

.pgl-panel .panel-body {
  padding:0;
}

	.pgl-panel .panel-body li {
    	padding: 5px 20px;
    }

.pgl-footer {
  color:white;
}

  .pgl-footer a {
    color:#A0A0A0;
  }

.pgl-properties h2 {
	text-transform: none;
}

.post-edit-link {
	display:none;
}

.price {
	background-color:#737f35;
}

.property-thumb-info-content h3 {
	font-weight:bold;
}

.scroll-to-top:hover, .scroll-to-top:focus {
	background-color: #737f35;
}

.sidebar {
	padding-top:0px;
}

.text-note {
  color:white;
  font-weight:bold;
}

@media (max-width: 599px) {

  .dropdown-menu > li > a {
      padding:6px;
  }

  .logo {
    margin-top:15px;
  }

  .pgl-navbar-main {
    min-height:97px;
  }

  .pgl-navbar-main .navbar-nav > li > a {
    padding:12px 20px;
  }

}



@media (max-width: 480px) {

    .dropdown-menu > li > a {
      padding:6px;
    }

    .flexslider {
      padding:0;
    }

    h1, h2, h3, h4, h5, h6 {
      margin:0!important;
    }

    h2 {
      font-size:20px!important;
    }

    h3 {
      font-size:22px;
    }

    .logo {
      margin-top:20px;
    }

    .navbar-collapse .navbar-nav > li > a {
      padding: 10px 20px;
    }

    .pgl-navbar-main {
      min-height:102px;
    }

}
