/* line 5, ../sass/theme-elements.scss */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight: 700;
  margin: 0 0 25px;
}
/* line 9, ../sass/theme-elements.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #333333;
}
/* line 11, ../sass/theme-elements.scss */
h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus, h4 a:hover, h4 a:focus, h5 a:hover, h5 a:focus, h6 a:hover, h6 a:focus {
  color: #d84949;
}

/* line 16, ../sass/theme-elements.scss */
h1, h2 {
  font-size: 2.571em;
  margin: 0 0 32px;
  text-transform: uppercase;
}

/* line 22, ../sass/theme-elements.scss */
h3 {
  font-size: 1.285em;
  font-weight: 400;
}

/* line 27, ../sass/theme-elements.scss */
h4 {
  font-size: 1em;
}

/* line 31, ../sass/theme-elements.scss */
p, ul, ol {
  margin: 0 0 25px;
}

/* line 35, ../sass/theme-elements.scss */
a {
  color: #d84949;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 38, ../sass/theme-elements.scss */
a:hover, a:focus {
  color: #333333;
  outline: none;
  text-decoration: none;
}

/* line 45, ../sass/theme-elements.scss */
input, button, select, textarea {
  background: white;
  border: 1px solid #dddddd;
}

/* line 50, ../sass/theme-elements.scss */
textarea {
  resize: none;
}

/* line 55, ../sass/theme-elements.scss */
blockquote p {
  line-height: 1.8;
}
/* line 57, ../sass/theme-elements.scss */
blockquote p:before {
  content: "\'\' ";
}
/* line 61, ../sass/theme-elements.scss */
blockquote p:after {
  content: " \'\'";
}
/* line 65, ../sass/theme-elements.scss */
blockquote footer:before {
  display: none;
}

/* icons */
/* line 71, ../sass/theme-elements.scss */
.icons {
  background: url(../images/icons.png) no-repeat;
  display: block;
  height: 50px;
  width: 50px;
}

/* line 77, ../sass/theme-elements.scss */
.icon-left {
  background-position: 0 0;
}

/* line 80, ../sass/theme-elements.scss */
.icon-right {
  background-position: -50px 0;
}

/* line 83, ../sass/theme-elements.scss */
.icon-submit {
  background-position: -100px 0;
}

/* line 86, ../sass/theme-elements.scss */
.icon-up {
  background-position: -140px 0;
}

/* line 89, ../sass/theme-elements.scss */
.icon-bedroom, .icon-bathroom, .icon-location {
  display: inline-block;
  height: 17px;
  width: 22px;
}

/* line 94, ../sass/theme-elements.scss */
.icon-bedroom {
  background-position: 0 -45px;
}

/* line 97, ../sass/theme-elements.scss */
.icon-bathroom {
  background-position: -50px -45px;
}

/* line 100, ../sass/theme-elements.scss */
.icon-location {
  background-position: -100px -47px;
  height: 20px;
}

/* line 104, ../sass/theme-elements.scss */
.icon-hand, .icon-home, .icon-chart {
  display: inline-block;
  height: 60px;
  width: 60px;
}

/* line 109, ../sass/theme-elements.scss */
.icon-hand {
  background-position: 0 -100px;
}

/* line 112, ../sass/theme-elements.scss */
.icon-home {
  background-position: -140px -100px;
}

/* line 115, ../sass/theme-elements.scss */
.icon-chart {
  background-position: -70px -100px;
}

/* form */
/* line 120, ../sass/theme-elements.scss */
.form-control {
  border-color: #dddddd;
  border-radius: 0;
  box-shadow: none;
  color: #666666;
  height: 40px;
}
/* line 126, ../sass/theme-elements.scss */
.form-control:focus {
  border-color: #333333;
  box-shadow: none;
}

/* buttons */
/* line 133, ../sass/theme-elements.scss */
.btn {
  border-radius: 0;
  font-weight: 700;
  height: 40px;
  line-height: 1.8;
  padding: 6px 12px;
  text-transform: uppercase;
}

/* line 142, ../sass/theme-elements.scss */
.btn-submit {
  padding: 0;
  width: 40px;
}
/* line 145, ../sass/theme-elements.scss */
.btn-submit:focus {
  outline: none !important;
  outline-offset: 0 !important;
}

/* line 151, ../sass/theme-elements.scss */
.btn-default {
  border: 2px solid #333333;
  color: #333333;
}
/* line 154, ../sass/theme-elements.scss */
.btn-default:hover, .btn-default:focus {
  background-color: transparent;
  border-color: #d84949;
  color: #d84949;
}

/* line 161, ../sass/theme-elements.scss */
.btn-primary {
  background-color: #d84949;
  border-color: #d84949;
}
/* line 164, ../sass/theme-elements.scss */
.btn-primary:hover, .btn-primary:focus {
  background-color: #333333;
  border-color: #333333;
  color: white;
}

/* line 171, ../sass/theme-elements.scss */
.btn-sm {
  line-height: 2;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 177, ../sass/theme-elements.scss */
.btn-lg {
  font-size: .857em;
  height: 50px;
  padding: 13px 20px;
}

/* bg color */
/* line 184, ../sass/theme-elements.scss */
.pgl-bg-dark {
  background-color: #333333;
  color: #aaa;
}

/* line 189, ../sass/theme-elements.scss */
.pgl-bg-grey {
  background-color: #eee;
}

/* line 193, ../sass/theme-elements.scss */
.pgl-bg-light, .pgl-property {
  background-color: white;
}

/* divider */
/* line 198, ../sass/theme-elements.scss */
hr {
  border-color: #dddddd;
}

/* line 201, ../sass/theme-elements.scss */
.divider {
  background-color: #444;
  display: block;
  height: 1px;
  margin: 0 auto 30px;
  width: 100px;
}

/* line 209, ../sass/theme-elements.scss */
.divider-quote-sign span {
  color: #aaa;
  display: block;
  font-family: 'Rochester', cursive;
  font-size: 5.142em;
  height: 30px;
  line-height: .4;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100px;
}
/* line 220, ../sass/theme-elements.scss */
.divider-quote-sign span:after, .divider-quote-sign span:before {
  border-top: 1px solid #444;
  content: "";
  position: absolute;
  top: 0;
  width: 35px;
}
/* line 227, ../sass/theme-elements.scss */
.divider-quote-sign span:after {
  right: 0;
}
/* line 230, ../sass/theme-elements.scss */
.divider-quote-sign span:before {
  left: 0;
}

/* line 235, ../sass/theme-elements.scss */
.mid {
  margin-bottom: 33px;
  margin-top: 40px;
}

/* line 239, ../sass/theme-elements.scss */
.top-tall {
  margin-bottom: 0;
  margin-top: 40px;
}

/* line 243, ../sass/theme-elements.scss */
.short {
  margin-bottom: 0;
  margin-top: 30px;
}

/* line 247, ../sass/theme-elements.scss */
.min-wide {
  min-width: 197px;
}

/* img */
/* line 252, ../sass/theme-elements.scss */
.img-thumbnail {
  border: none;
  padding: 0;
}

/* line 257, ../sass/theme-elements.scss */
.img-thumbnail-small {
  margin-bottom: 18px;
}

/* blockquote */
/* line 262, ../sass/theme-elements.scss */
.testimonial {
  border-left: none;
  font-size: 1em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* pgl-midnarrow-row */
/* line 271, ../sass/theme-elements.scss */
.pgl-midnarrow-row {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 274, ../sass/theme-elements.scss */
.pgl-midnarrow-row .col-xs-1, .pgl-midnarrow-row .col-sm-1, .pgl-midnarrow-row .col-md-1, .pgl-midnarrow-row .col-lg-1, .pgl-midnarrow-row .col-xs-2, .pgl-midnarrow-row .col-sm-2, .pgl-midnarrow-row .col-md-2, .pgl-midnarrow-row .col-lg-2, .pgl-midnarrow-row .col-xs-3, .pgl-midnarrow-row .col-sm-3, .pgl-midnarrow-row .col-md-3, .pgl-midnarrow-row .col-lg-3, .pgl-midnarrow-row .col-xs-4, .pgl-midnarrow-row .col-sm-4, .pgl-midnarrow-row .col-md-4, .pgl-midnarrow-row .col-lg-4, .pgl-midnarrow-row .col-xs-5, .pgl-midnarrow-row .col-sm-5, .pgl-midnarrow-row .col-md-5, .pgl-midnarrow-row .col-lg-5, .pgl-midnarrow-row .col-xs-6, .pgl-midnarrow-row .col-sm-6, .pgl-midnarrow-row .col-md-6, .pgl-midnarrow-row .col-lg-6, .pgl-midnarrow-row .col-xs-7, .pgl-midnarrow-row .col-sm-7, .pgl-midnarrow-row .col-md-7, .pgl-midnarrow-row .col-lg-7, .pgl-midnarrow-row .col-xs-8, .pgl-midnarrow-row .col-sm-8, .pgl-midnarrow-row .col-md-8, .pgl-midnarrow-row .col-lg-8, .pgl-midnarrow-row .col-xs-9, .pgl-midnarrow-row .col-sm-9, .pgl-midnarrow-row .col-md-9, .pgl-midnarrow-row .col-lg-9, .pgl-midnarrow-row .col-xs-10, .pgl-midnarrow-row .col-sm-10, .pgl-midnarrow-row .col-md-10, .pgl-midnarrow-row .col-lg-10, .pgl-midnarrow-row .col-xs-11, .pgl-midnarrow-row .col-sm-11, .pgl-midnarrow-row .col-md-11, .pgl-midnarrow-row .col-lg-11, .pgl-midnarrow-row .col-xs-12, .pgl-midnarrow-row .col-sm-12, .pgl-midnarrow-row .col-md-12, .pgl-midnarrow-row .col-lg-12 {
  padding-left: 10px;
  padding-right: 10px;
}

/* pgl-narrow-row */
/* line 281, ../sass/theme-elements.scss */
.pgl-narrow-row {
  margin-left: -5px;
  margin-right: -5px;
}
/* line 284, ../sass/theme-elements.scss */
.pgl-narrow-row .col-xs-1, .pgl-narrow-row .col-sm-1, .pgl-narrow-row .col-md-1, .pgl-narrow-row .col-lg-1, .pgl-narrow-row .col-xs-2, .pgl-narrow-row .col-sm-2, .pgl-narrow-row .col-md-2, .pgl-narrow-row .col-lg-2, .pgl-narrow-row .col-xs-3, .pgl-narrow-row .col-sm-3, .pgl-narrow-row .col-md-3, .pgl-narrow-row .col-lg-3, .pgl-narrow-row .col-xs-4, .pgl-narrow-row .col-sm-4, .pgl-narrow-row .col-md-4, .pgl-narrow-row .col-lg-4, .pgl-narrow-row .col-xs-5, .pgl-narrow-row .col-sm-5, .pgl-narrow-row .col-md-5, .pgl-narrow-row .col-lg-5, .pgl-narrow-row .col-xs-6, .pgl-narrow-row .col-sm-6, .pgl-narrow-row .col-md-6, .pgl-narrow-row .col-lg-6, .pgl-narrow-row .col-xs-7, .pgl-narrow-row .col-sm-7, .pgl-narrow-row .col-md-7, .pgl-narrow-row .col-lg-7, .pgl-narrow-row .col-xs-8, .pgl-narrow-row .col-sm-8, .pgl-narrow-row .col-md-8, .pgl-narrow-row .col-lg-8, .pgl-narrow-row .col-xs-9, .pgl-narrow-row .col-sm-9, .pgl-narrow-row .col-md-9, .pgl-narrow-row .col-lg-9, .pgl-narrow-row .col-xs-10, .pgl-narrow-row .col-sm-10, .pgl-narrow-row .col-md-10, .pgl-narrow-row .col-lg-10, .pgl-narrow-row .col-xs-11, .pgl-narrow-row .col-sm-11, .pgl-narrow-row .col-md-11, .pgl-narrow-row .col-lg-11, .pgl-narrow-row .col-xs-12, .pgl-narrow-row .col-sm-12, .pgl-narrow-row .col-md-12, .pgl-narrow-row .col-lg-12 {
  padding-left: 5px;
  padding-right: 5px;
}

/* tabs */
/* line 290, ../sass/theme-elements.scss */
.nav-tabs {
  border-bottom: none;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  font-weight: 700;
  max-width: 500px;
  position: relative;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
/* line 310, ../sass/theme-elements.scss */
.nav-tabs li {
  display: block;
  text-align: center;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 317, ../sass/theme-elements.scss */
.nav-tabs li a {
  border-radius: 0;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* pgl-pro-tabs */
/* line 329, ../sass/theme-elements.scss */
.pgl-pro-tabs {
  font-size: .857em;
  margin-bottom: 40px;
  text-transform: uppercase;
}
/* line 334, ../sass/theme-elements.scss */
.pgl-pro-tabs > li > a {
  border-width: 2px;
  color: #333333;
  margin-right: -2px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 340, ../sass/theme-elements.scss */
.pgl-pro-tabs > li > a:hover, .pgl-pro-tabs > li > a:focus {
  border-color: #333333;
}
/* line 344, ../sass/theme-elements.scss */
.pgl-pro-tabs > li.active > a, .pgl-pro-tabs > li.active > a:hover, .pgl-pro-tabs > li.active > a:focus {
  background-color: transparent;
  border-color: #333333;
  border-width: 2px;
}

/* nav-top */
/* line 354, ../sass/theme-elements.scss */
.text-note {
  margin: 8px 0 0 260px;
}
/* line 356, ../sass/theme-elements.scss */
.text-note .fa {
  margin-right: 5px;
}

/* line 360, ../sass/theme-elements.scss */
.nav-top {
  border-right: 1px solid #222;
}
/* line 362, ../sass/theme-elements.scss */
.nav-top > li {
  border-left: 1px solid #222;
}
/* line 364, ../sass/theme-elements.scss */
.nav-top > li > a {
  border-radius: 0;
  color: #aaa;
  padding: 8px 12px 7px;
}
/* line 368, ../sass/theme-elements.scss */
.nav-top > li > a:hover, .nav-top > li > a:focus {
  background-color: #d84949;
  color: white;
}

/* advanced search */
/* line 377, ../sass/theme-elements.scss */
.chosen-container {
  font-size: .928em;
  width: 100% !important;
}
/* line 380, ../sass/theme-elements.scss */
.chosen-container .chosen-drop {
  border-color: #dddddd;
  border-right-color: #dddddd;
  box-shadow: none;
}
/* line 385, ../sass/theme-elements.scss */
.chosen-container .chosen-results {
  margin: 0;
  padding: 0;
}
/* line 388, ../sass/theme-elements.scss */
.chosen-container .chosen-results li {
  padding: 8px 15px;
}
/* line 390, ../sass/theme-elements.scss */
.chosen-container .chosen-results li.highlighted {
  background-color: #333333;
  background-image: none;
}

/* line 398, ../sass/theme-elements.scss */
.chosen-container-single .chosen-search {
  display: none;
}
/* line 401, ../sass/theme-elements.scss */
.chosen-container-single .chosen-default {
  color: #666666;
}
/* line 404, ../sass/theme-elements.scss */
.chosen-container-single .chosen-single {
  background: white;
  border-color: #dddddd;
  border-radius: 0;
  box-shadow: none;
  color: #666666;
  height: 40px;
  line-height: 2.8;
  padding: 0 0 0 15px;
}
/* line 413, ../sass/theme-elements.scss */
.chosen-container-single .chosen-single abbr, .chosen-container-single .chosen-single div b {
  background-image: url("../images/chosen-sprite.png");
}
/* line 416, ../sass/theme-elements.scss */
.chosen-container-single .chosen-single div {
  right: 7px;
  width: 16px;
}
/* line 421, ../sass/theme-elements.scss */
.chosen-container-single .chosen-drop {
  border-radius: 0;
}

/* line 426, ../sass/theme-elements.scss */
.chosen-container-active.chosen-with-drop .chosen-single {
  background-image: none;
  border-color: #dddddd;
  box-shadow: none;
}

/* line 431, ../sass/theme-elements.scss */
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  background-image: url("../images/chosen-sprite.png");
}

/* pgl-property */
/* line 436, ../sass/theme-elements.scss */
.label {
  background-color: #333333;
  border-radius: 0;
  color: white;
  display: inline-block;
  font-size: 1em;
  margin-right: -4px;
  padding: 12px 20px;
}
/* line 444, ../sass/theme-elements.scss */
.label a {
  color: white;
}
/* line 446, ../sass/theme-elements.scss */
.label a:hover, .label a:focus {
  color: #d84949;
}

/* line 451, ../sass/theme-elements.scss */
.price {
  background-color: #d84949;
}

/* line 454, ../sass/theme-elements.scss */
.pgl-property {
  margin-bottom: 30px;
}
/* line 457, ../sass/theme-elements.scss */
.pgl-property:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* line 461, ../sass/theme-elements.scss */
.property-thumb-info, .property-thumb-info-image, .pgl-team-item .img-thumbnail-medium {
  overflow: hidden;
  position: relative;
}

/* line 465, ../sass/theme-elements.scss */
.property-thumb-info-image img, .pgl-team-item .img-thumbnail-medium img {
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0) scale(1.1);
  transform: translate3d(-10px, 0, 0) scale(1.1);
}

/* line 473, ../sass/theme-elements.scss */
.pgl-property:hover .property-thumb-info-image img, .pgl-team-item:hover .img-thumbnail-medium img {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -webkit-transform: translate3d(0, 0, 0) scale(1.1);
  transform: translate3d(0, 0, 0) scale(1.1);
}

/* line 478, ../sass/theme-elements.scss */
.property-thumb-info-image .property-thumb-info-label {
  bottom: 0;
  left: 0;
  position: absolute;
}

/* line 483, ../sass/theme-elements.scss */
.property-thumb-info-content {
  padding: 30px 20px 20px;
}
/* line 485, ../sass/theme-elements.scss */
.property-thumb-info-content h3 {
  margin-bottom: 8px;
}
/* line 488, ../sass/theme-elements.scss */
.property-thumb-info-content address {
  margin-bottom: 10px;
}
/* line 491, ../sass/theme-elements.scss */
.property-thumb-info-content p {
  margin: 0;
}

/* line 495, ../sass/theme-elements.scss */
.amenities {
  border-top: 1px solid #eee;
  padding: 8px 20px;
}
/* line 498, ../sass/theme-elements.scss */
.amenities address {
  margin-bottom: 0;
}
/* line 501, ../sass/theme-elements.scss */
.amenities ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 505, ../sass/theme-elements.scss */
.amenities ul li {
  display: inline;
}
/* line 507, ../sass/theme-elements.scss */
.amenities ul li + li {
  padding-left: 15px;
}

/* line 514, ../sass/theme-elements.scss */
.featured-item {
  margin-bottom: 20px;
}
/* line 516, ../sass/theme-elements.scss */
.featured-item .property-thumb-info-content {
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: none;
  bottom: 0;
  color: white;
  left: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  position: absolute;
  width: 100%;
}
/* line 527, ../sass/theme-elements.scss */
.featured-item h3 {
  font-size: 1em;
  text-transform: uppercase;
}
/* line 530, ../sass/theme-elements.scss */
.featured-item h3 a {
  color: white;
}
/* line 532, ../sass/theme-elements.scss */
.featured-item h3 a:hover, .featured-item h3 a:focus {
  color: #d84949;
}
/* line 537, ../sass/theme-elements.scss */
.featured-item p {
  margin: 0;
}
/* line 540, ../sass/theme-elements.scss */
.featured-item .property-thumb-info-content, .featured-item p {
  -webkit-transform: translate3d(0, 40%, 0);
  transform: translate3d(0, 40%, 0);
}
/* line 543, ../sass/theme-elements.scss */
.featured-item .property-thumb-info-content, .featured-item h3 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}
/* line 547, ../sass/theme-elements.scss */
.featured-item p {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}
/* line 552, ../sass/theme-elements.scss */
.featured-item:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 556, ../sass/theme-elements.scss */
.featured-item:hover .property-thumb-info-content, .featured-item:hover p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 559, ../sass/theme-elements.scss */
.featured-item:hover p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

/* agent-item */
/* line 565, ../sass/theme-elements.scss */
.pgl-agent-item {
  border: 1px solid #dddddd;
  margin-bottom: 20px;
  padding: 20px;
}
/* line 569, ../sass/theme-elements.scss */
.pgl-agent-item:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* line 575, ../sass/theme-elements.scss */
.pgl-agent-info h4 {
  text-transform: uppercase;
}
/* line 578, ../sass/theme-elements.scss */
.pgl-agent-info p, .pgl-agent-info h4 {
  margin-bottom: 10px;
}
/* line 581, ../sass/theme-elements.scss */
.pgl-agent-info address {
  line-height: 2;
}

/* accordion */
/* line 587, ../sass/theme-elements.scss */
.panel-group {
  margin-bottom: 0;
}
/* line 589, ../sass/theme-elements.scss */
.panel-group .pgl-panel {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}
/* line 593, ../sass/theme-elements.scss */
.panel-group .pgl-panel + .pgl-panel {
  margin-top: 10px;
}
/* line 596, ../sass/theme-elements.scss */
.panel-group .pgl-panel .panel-title {
  font-size: .857em;
  text-transform: uppercase;
}
/* line 599, ../sass/theme-elements.scss */
.panel-group .pgl-panel .panel-title a {
  display: block;
}

/* line 605, ../sass/theme-elements.scss */
.pgl-panel {
  border: none;
}
/* line 607, ../sass/theme-elements.scss */
.pgl-panel > .panel-heading {
  background-color: transparent;
  border: none;
  padding: 0;
}
/* line 612, ../sass/theme-elements.scss */
.pgl-panel .panel-body {
  border: 1px solid #333333;
  padding: 0 20px;
}
/* line 615, ../sass/theme-elements.scss */
.pgl-panel .panel-body p {
  margin-bottom: 15px;
}
/* line 618, ../sass/theme-elements.scss */
.pgl-panel .panel-body ul {
  list-style: none;
  padding: 0;
}
/* line 622, ../sass/theme-elements.scss */
.pgl-panel .panel-body li {
  padding: 8px 20px;
}
/* line 624, ../sass/theme-elements.scss */
.pgl-panel .panel-body li:nth-child(even) {
  background-color: #fafafa;
}
/* line 628, ../sass/theme-elements.scss */
.pgl-panel .panel-body .pgl-agent-item {
  border: none;
  margin-bottom: 30px;
  padding: 0;
}
/* line 632, ../sass/theme-elements.scss */
.pgl-panel .panel-body .pgl-agent-item:hover {
  box-shadow: none;
}
/* line 638, ../sass/theme-elements.scss */
.pgl-panel .panel-title a {
  border: 1px solid #333333;
  border-bottom: none;
  padding: 18px 20px;
}
/* line 642, ../sass/theme-elements.scss */
.pgl-panel .panel-title a:after {
  content: "-";
  float: right;
  font-size: 2.5em;
  font-weight: 400;
  line-height: .3;
}
/* line 650, ../sass/theme-elements.scss */
.pgl-panel .panel-title .collapsed {
  border: 1px solid #dddddd;
}
/* line 652, ../sass/theme-elements.scss */
.pgl-panel .panel-title .collapsed:after {
  content: "+";
}
/* line 657, ../sass/theme-elements.scss */
.pgl-panel > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
/* line 660, ../sass/theme-elements.scss */
.pgl-panel .collapse.in .panel-body {
  border-top: none;
}

/* form-newsletter */
/* line 666, ../sass/theme-elements.scss */
.pgl-form-newsletter {
  position: relative;
}
/* line 668, ../sass/theme-elements.scss */
.pgl-form-newsletter .form-group {
  width: 100%;
}
/* line 671, ../sass/theme-elements.scss */
.pgl-form-newsletter .form-control {
  width: 100%;
}
/* line 674, ../sass/theme-elements.scss */
.pgl-form-newsletter .btn {
  border-color: #dddddd;
  border-left: none;
  position: absolute;
  right: 0;
  top: 0;
}

/* Scroll to Top */
/* line 684, ../sass/theme-elements.scss */
.scroll-to-top {
  background-color: #333333;
  border-radius: 50%;
  bottom: 20px;
  color: white;
  display: block;
  font-size: 1.285em;
  height: 50px;
  line-height: 50px;
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  width: 50px;
  z-index: 1040;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 701, ../sass/theme-elements.scss */
.scroll-to-top .icon-up {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
/* line 704, ../sass/theme-elements.scss */
.scroll-to-top:hover, .scroll-to-top:focus {
  background-color: #d84949;
  color: white;
}
/* line 707, ../sass/theme-elements.scss */
.scroll-to-top:hover .icon-up, .scroll-to-top:focus .icon-up {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
/* line 711, ../sass/theme-elements.scss */
.scroll-to-top.visible {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* pagination */
/* line 717, ../sass/theme-elements.scss */
.pagination {
  margin: 10px 0 40px;
}
/* line 719, ../sass/theme-elements.scss */
.pagination li {
  display: inline-block;
  font-weight: 700;
  margin: 0 8px 0 0;
  text-align: center;
}
/* line 727, ../sass/theme-elements.scss */
.pagination li > a,
.pagination li > span {
  background-color: transparent;
  border-color: #333333;
  border-width: 2px;
  color: #333333;
  line-height: 35px;
  padding: 0 14px;
}
/* line 741, ../sass/theme-elements.scss */
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  background-color: whitesmoke;
  border-color: whitesmoke;
  color: #333333;
}
/* line 746, ../sass/theme-elements.scss */
.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
/* line 751, ../sass/theme-elements.scss */
.pagination li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
/* line 765, ../sass/theme-elements.scss */
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #333333;
  color: white;
  border-color: #333333;
}

/* pgl-main-slide */
/* line 774, ../sass/theme-elements.scss */
.owl-theme .owl-controls {
  margin-top: 0;
}
/* line 777, ../sass/theme-elements.scss */
.owl-theme .owl-controls .owl-page span {
  background: rgba(255, 255, 255, 0.5);
  height: 10px;
  margin: 0 6px;
  opacity: 1;
  filter: alpha(opacity=100);
  width: 10px;
}
/* line 785, ../sass/theme-elements.scss */
.owl-theme .owl-controls .owl-page.active span {
  background: white;
  height: 14px;
  margin-top: 2px;
  width: 14px;
}
/* line 793, ../sass/theme-elements.scss */
.owl-theme .owl-controls .owl-buttons div {
  background-color: #333333;
  border-radius: 50%;
  opacity: 1;
  filter: alpha(opacity=100);
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 800, ../sass/theme-elements.scss */
.owl-theme .owl-controls .owl-buttons div .icons {
  opacity: 0.51;
  filter: alpha(opacity=51);
}
/* line 805, ../sass/theme-elements.scss */
.owl-theme .owl-controls.clickable .owl-buttons div:hover .icons, .owl-theme .owl-controls.clickable .owl-buttons div:focus .icons {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 813, ../sass/theme-elements.scss */
.pgl-main-slide .item {
  position: relative;
}
/* line 816, ../sass/theme-elements.scss */
.pgl-main-slide .item-caption {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 822, ../sass/theme-elements.scss */
.pgl-main-slide .item-caption .container {
  display: table;
  height: 100%;
}
/* line 826, ../sass/theme-elements.scss */
.pgl-main-slide .item-caption .property-info {
  display: table-cell;
  padding-right: 50%;
  vertical-align: middle;
}
/* line 831, ../sass/theme-elements.scss */
.pgl-main-slide .item-caption .property-thumb-info-content {
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: none;
  padding: 26px 30px;
}
/* line 836, ../sass/theme-elements.scss */
.pgl-main-slide .item-caption h2 {
  font-size: 1.714em;
  margin-bottom: 8px;
  text-transform: none;
}
/* line 841, ../sass/theme-elements.scss */
.pgl-main-slide .item-caption p {
  margin: 0;
}
/* line 845, ../sass/theme-elements.scss */
.pgl-main-slide .owl-pagination {
  left: 0;
  position: absolute;
  width: 100%;
}
/* line 850, ../sass/theme-elements.scss */
.pgl-main-slide .owl-pagination {
  bottom: 23px;
}
/* line 855, ../sass/theme-elements.scss */
.pgl-main-slide .owl-controls .owl-buttons div {
  margin-top: -25px;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 50%;
}
/* line 861, ../sass/theme-elements.scss */
.pgl-main-slide .owl-controls .owl-buttons .owl-prev {
  left: 20px;
}
/* line 864, ../sass/theme-elements.scss */
.pgl-main-slide .owl-controls .owl-buttons .owl-next {
  right: 20px;
}
/* line 869, ../sass/theme-elements.scss */
.pgl-main-slide .owl-controls.clickable .owl-buttons div:hover, .pgl-main-slide .owl-controls.clickable .owl-buttons div:focus {
  background-color: #d84949;
}
/* line 875, ../sass/theme-elements.scss */
.pgl-main-slide:hover .owl-controls .owl-buttons div {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* pgl-pro-slide */
/* line 883, ../sass/theme-elements.scss */
.pgl-pro-slide .owl-controls {
  position: absolute;
  right: 15px;
  top: -72px;
}
/* line 889, ../sass/theme-elements.scss */
.pgl-pro-slide .owl-controls .owl-buttons div {
  background-color: transparent;
  border-radius: 0;
}
/* line 892, ../sass/theme-elements.scss */
.pgl-pro-slide .owl-controls .owl-buttons div .icons {
  background: none;
  border: 2px solid #333333;
  color: #333333;
  font-style: normal;
  height: 40px;
  line-height: 38px;
  opacity: 1;
  filter: alpha(opacity=100);
  position: relative;
  width: 40px;
}
/* line 902, ../sass/theme-elements.scss */
.pgl-pro-slide .owl-controls .owl-buttons div .icons:hover, .pgl-pro-slide .owl-controls .owl-buttons div .icons:focus {
  background-color: #333333;
  color: white;
}
/* line 906, ../sass/theme-elements.scss */
.pgl-pro-slide .owl-controls .owl-buttons div .icons:after {
  font-family: 'FontAwesome';
  font-size: 1.166em;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
/* line 917, ../sass/theme-elements.scss */
.pgl-pro-slide .owl-controls .owl-buttons div .icon-left:after {
  content: "\f053";
}
/* line 920, ../sass/theme-elements.scss */
.pgl-pro-slide .owl-controls .owl-buttons div .icon-right:after {
  content: "\f054";
}
/* line 924, ../sass/theme-elements.scss */
.pgl-pro-slide .owl-controls .owl-buttons .owl-next {
  margin-left: 10px;
}

/* listing-header */
/* line 931, ../sass/theme-elements.scss */
.listing-header {
  background-color: white;
  border: 1px solid #dddddd;
  margin-bottom: 40px;
  padding: 9px 4px;
}

/* line 937, ../sass/theme-elements.scss */
.list-icons {
  margin: 0;
}
/* line 939, ../sass/theme-elements.scss */
.list-icons li {
  padding-right: 0;
}
/* line 942, ../sass/theme-elements.scss */
.list-icons a {
  border: 1px solid #dddddd;
  color: #333333;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
}
/* line 951, ../sass/theme-elements.scss */
.list-icons .active a, .list-icons a:hover, .list-icons a:focus {
  background-color: #333333;
  border-color: #333333;
  color: white;
}

/* line 957, ../sass/theme-elements.scss */
.list-sort {
  margin: 0;
}
/* line 959, ../sass/theme-elements.scss */
.list-sort label {
  display: inline-block;
}

/* content */
/* line 965, ../sass/theme-elements.scss */
.content {
  padding-top: 60px;
}
/* line 967, ../sass/theme-elements.scss */
.content .pgl-featured, .content .pgl-properties {
  padding-top: 0;
}

/* line 972, ../sass/theme-elements.scss */
.about-item {
  margin-bottom: 50px;
}
/* line 974, ../sass/theme-elements.scss */
.about-item .post-mid {
  margin-bottom: 0;
}

/* line 978, ../sass/theme-elements.scss */
.pgl-group-faqs {
  margin-bottom: 70px;
}

/* 404 */
/* line 982, ../sass/theme-elements.scss */
.pgl-error {
  padding: 74px 0 125px;
}

/* line 985, ../sass/theme-elements.scss */
.error-title {
  font-size: 17.143em;
  margin-bottom: 10px;
}

/* line 989, ../sass/theme-elements.scss */
.error-msg {
  font-size: 1.285em;
  margin-bottom: 40px;
  text-transform: uppercase;
}

/* sidebar */
/* line 996, ../sass/theme-elements.scss */
.sidebar {
  padding-top: 60px;
}
/* line 998, ../sass/theme-elements.scss */
.sidebar h3 {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 17px;
  text-transform: uppercase;
}
/* line 1004, ../sass/theme-elements.scss */
.sidebar .block {
  margin-bottom: 30px;
  padding: 30px 20px 10px;
}
/* line 1008, ../sass/theme-elements.scss */
.sidebar .pgl-advanced-search {
  border-bottom: none;
}
/* line 1012, ../sass/theme-elements.scss */
.sidebar .pgl-pro-slide .owl-controls {
  right: 0;
  top: -34px;
}
/* line 1018, ../sass/theme-elements.scss */
.sidebar .pgl-pro-slide .owl-controls .owl-buttons div .icons {
  height: 20px;
  line-height: 16px;
  width: 20px;
}
/* line 1022, ../sass/theme-elements.scss */
.sidebar .pgl-pro-slide .owl-controls .owl-buttons div .icons:after {
  font-size: .583em;
}
/* line 1029, ../sass/theme-elements.scss */
.sidebar .pgl-agent-item {
  border: none;
  padding: 0;
}
/* line 1030, ../sass/theme-elements.scss */
.sidebar .pgl-agent-item .img-thumbnail-medium {
  margin-bottom: 10px;
}
/* line 1035, ../sass/theme-elements.scss */
.sidebar .pgl-agent-item:hover {
  box-shadow: none;
}
/* line 1039, ../sass/theme-elements.scss */
.sidebar .pgl-testimonials {
  padding: 0;
}
/* line 1042, ../sass/theme-elements.scss */
.sidebar .pgl-testimonial {
  height: auto;
}
/* line 1044, ../sass/theme-elements.scss */
.sidebar .pgl-testimonial .owl-item > div {
  padding-left: 0;
  padding-right: 0;
}
/* line 1049, ../sass/theme-elements.scss */
.sidebar .pgl-testimonial .owl-controls .owl-buttons .owl-prev {
  left: 10px;
}
/* line 1052, ../sass/theme-elements.scss */
.sidebar .pgl-testimonial .owl-controls .owl-buttons .owl-next {
  right: 10px;
}
/* line 1057, ../sass/theme-elements.scss */
.sidebar .blk-search {
  background-color: #111;
  padding: 20px;
}
/* line 1061, ../sass/theme-elements.scss */
.sidebar .blk-ads {
  padding: 0;
}

/* line 1065, ../sass/theme-elements.scss */
.form-search {
  position: relative;
}
/* line 1067, ../sass/theme-elements.scss */
.form-search .form-group, .form-search .form-control {
  width: 100%;
}
/* line 1070, ../sass/theme-elements.scss */
.form-search .form-control {
  border-color: white;
}
/* line 1073, ../sass/theme-elements.scss */
.form-search .btn {
  background: none;
  position: absolute;
  right: 0;
  top: 0;
}

/* list-cat */
/* line 1081, ../sass/theme-elements.scss */
.list-cat {
  margin-bottom: 15px;
}
/* line 1083, ../sass/theme-elements.scss */
.list-cat li + li {
  border-top: 1px solid #f5f5f5;
  margin-top: 5px;
  padding-top: 5px;
}
/* line 1088, ../sass/theme-elements.scss */
.list-cat a {
  color: #333333;
}
/* line 1090, ../sass/theme-elements.scss */
.list-cat a:hover, .list-cat a:focus {
  color: #d84949;
}
/* line 1094, ../sass/theme-elements.scss */
.list-cat span {
  color: #999;
}

/* line 1098, ../sass/theme-elements.scss */
.second-tabs {
  font-size: .929em;
  margin-bottom: 20px;
  margin-left: -3px;
  margin-right: -3px;
  /* end li */
}
/* line 1103, ../sass/theme-elements.scss */
.second-tabs li {
  margin: 0 3px 10px;
  position: relative;
  z-index: 1;
}
/* line 1107, ../sass/theme-elements.scss */
.second-tabs li a {
  background: #f0f0f0;
  border: none;
  color: #333333;
  margin-right: 0;
  padding: 10px;
}
/* line 1115, ../sass/theme-elements.scss */
.second-tabs li.active:after {
  bottom: -5px;
  height: 0;
  border-top: 5px solid #d84949;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  content: "";
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;
}
/* line 1118, ../sass/theme-elements.scss */
.second-tabs li.active a {
  background-color: #d84949;
  border: none;
  color: white;
}
/* line 1122, ../sass/theme-elements.scss */
.second-tabs li.active a:hover, .second-tabs li.active a:focus {
  background-color: #d84949;
  border: none;
  color: white;
}

/* properties-listing */
/* line 1133, ../sass/theme-elements.scss */
.properties-listing .property-thumb-info {
  padding-right: 30px;
}
/* line 1136, ../sass/theme-elements.scss */
.properties-listing .property-thumb-info-content, .properties-listing .amenities {
  padding-left: 0;
  padding-right: 0;
}
/* line 1140, ../sass/theme-elements.scss */
.properties-listing .property-thumb-info-content {
  height: 198px;
  overflow: hidden;
}
/* line 1144, ../sass/theme-elements.scss */
.properties-listing .property-thumb-info-image .property-thumb-info-label {
  bottom: auto;
  top: 20px;
}

/* grid-agents */
/* line 1151, ../sass/theme-elements.scss */
.grid-agents {
  padding: 33px 0 40px;
}
/* line 1153, ../sass/theme-elements.scss */
.grid-agents .img-thumbnail-medium {
  margin-bottom: 10px;
}

/* about */
/* line 1161, ../sass/theme-elements.scss */
.pgl-intro {
  margin-bottom: 53px;
  padding-top: 70px;
}
/* line 1164, ../sass/theme-elements.scss */
.pgl-intro .lead {
  font-size: 1.285em;
  line-height: 1.6;
  padding: 45px 85px;
}
/* line 1168, ../sass/theme-elements.scss */
.pgl-intro .lead p {
  margin: 0;
}

/* line 1174, ../sass/theme-elements.scss */
.pgl-img-slide .item-caption {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: white;
  left: 0;
  padding: 30px;
  position: absolute;
  width: 100%;
}
/* line 1182, ../sass/theme-elements.scss */
.pgl-img-slide .item-caption p {
  margin: 0;
}
/* line 1186, ../sass/theme-elements.scss */
.pgl-img-slide .owl-controls {
  bottom: 15px;
  right: 30px;
  top: auto;
}
/* line 1191, ../sass/theme-elements.scss */
.pgl-img-slide .owl-controls .owl-buttons div .icons {
  border-color: white;
  color: white;
}
/* line 1194, ../sass/theme-elements.scss */
.pgl-img-slide .owl-controls .owl-buttons div .icons:hover {
  background-color: #d84949;
  border-color: #d84949;
}

/* pgl-offer */
/* line 1204, ../sass/theme-elements.scss */
.pgl-offer {
  padding-bottom: 45px;
}

/* line 1207, ../sass/theme-elements.scss */
.offer-item {
  margin-bottom: 30px;
  overflow: hidden;
  padding: 80px 25px 45px;
  position: relative;
  text-align: center;
}
/* line 1213, ../sass/theme-elements.scss */
.offer-item * {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 1216, ../sass/theme-elements.scss */
.offer-item .offer-item-inner {
  position: relative;
  z-index: 2;
}
/* line 1220, ../sass/theme-elements.scss */
.offer-item h3 {
  color: #d84949;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 1226, ../sass/theme-elements.scss */
.offer-item .icons {
  margin: 0 auto;
}
/* line 1229, ../sass/theme-elements.scss */
.offer-item:after {
  background-color: #d84949;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}
/* line 1242, ../sass/theme-elements.scss */
.offer-item:hover {
  color: white;
}
/* line 1244, ../sass/theme-elements.scss */
.offer-item:hover h3 {
  color: white;
}
/* line 1247, ../sass/theme-elements.scss */
.offer-item:hover .icon-hand {
  background-position: 0 -180px;
}
/* line 1250, ../sass/theme-elements.scss */
.offer-item:hover .icon-home {
  background-position: -140px -180px;
}
/* line 1253, ../sass/theme-elements.scss */
.offer-item:hover .icon-chart {
  background-position: -70px -180px;
}
/* line 1256, ../sass/theme-elements.scss */
.offer-item:hover:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

/* line 1263, ../sass/theme-elements.scss */
.pgl-offer.pgl-bg-dark {
  padding-bottom: 15px;
  padding-top: 73px;
}
/* line 1266, ../sass/theme-elements.scss */
.pgl-offer.pgl-bg-dark h2 {
  color: white;
}
/* line 1269, ../sass/theme-elements.scss */
.pgl-offer.pgl-bg-dark .offer-item {
  padding-bottom: 0;
  padding-top: 45px;
}
/* line 1272, ../sass/theme-elements.scss */
.pgl-offer.pgl-bg-dark .offer-item h3 {
  color: white;
}
/* line 1275, ../sass/theme-elements.scss */
.pgl-offer.pgl-bg-dark .offer-item .icon-hand {
  background-position: 0 -260px;
}
/* line 1278, ../sass/theme-elements.scss */
.pgl-offer.pgl-bg-dark .offer-item .icon-home {
  background-position: -140px -260px;
}
/* line 1281, ../sass/theme-elements.scss */
.pgl-offer.pgl-bg-dark .offer-item .icon-chart {
  background-position: -70px -260px;
}
/* line 1285, ../sass/theme-elements.scss */
.pgl-offer.pgl-bg-dark .offer-item:hover h3 {
  color: #d84949;
}
/* line 1288, ../sass/theme-elements.scss */
.pgl-offer.pgl-bg-dark .offer-item:hover .icon-hand {
  background-position: 0 -180px;
}
/* line 1291, ../sass/theme-elements.scss */
.pgl-offer.pgl-bg-dark .offer-item:hover .icon-home {
  background-position: -140px -180px;
}
/* line 1294, ../sass/theme-elements.scss */
.pgl-offer.pgl-bg-dark .offer-item:hover .icon-chart {
  background-position: -70px -180px;
}
/* line 1297, ../sass/theme-elements.scss */
.pgl-offer.pgl-bg-dark .offer-item:hover:after {
  display: none;
}

/**/
/* line 1304, ../sass/theme-elements.scss */
.pgl-testimonials-full {
  margin-bottom: 70px;
}
/* line 1306, ../sass/theme-elements.scss */
.pgl-testimonials-full .pgl-testimonial {
  height: auto;
  padding-top: 60px;
}
/* line 1309, ../sass/theme-elements.scss */
.pgl-testimonials-full .pgl-testimonial .owl-controls .owl-buttons {
  text-align: left;
  top: 86px;
}
/* line 1312, ../sass/theme-elements.scss */
.pgl-testimonials-full .pgl-testimonial .owl-controls .owl-buttons > div {
  top: 90px;
}
/* line 1318, ../sass/theme-elements.scss */
.pgl-testimonials-full .pgl-testimonial .owl-controls .owl-buttons .owl-next {
  left: 272px;
  right: auto;
}
/* line 1324, ../sass/theme-elements.scss */
.pgl-testimonials-full .testimonial {
  font-size: 1.285em;
  font-weight: 100;
  padding-top: 30px;
  text-align: left;
}

/* pgl-team */
/* line 1333, ../sass/theme-elements.scss */
.pgl-teams {
  padding-bottom: 60px;
}

/* line 1336, ../sass/theme-elements.scss */
.social-links {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 1340, ../sass/theme-elements.scss */
.social-links li {
  display: inline-block;
}
/* line 1343, ../sass/theme-elements.scss */
.social-links a {
  border: 2px solid white;
  color: white;
  display: inline-block;
  height: 40px;
  line-height: 35px;
  width: 40px;
}
/* line 1350, ../sass/theme-elements.scss */
.social-links a:hover, .social-links a:focus {
  border-color: #d84949;
  color: #d84949;
}

/* line 1356, ../sass/theme-elements.scss */
.pgl-team-item {
  margin-bottom: 30px;
}
/* line 1358, ../sass/theme-elements.scss */
.pgl-team-item .img-thumbnail-medium:after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 1369, ../sass/theme-elements.scss */
.pgl-team-item .social-links {
  left: 0;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 2;
}
/* line 1376, ../sass/theme-elements.scss */
.pgl-team-item .social-links li {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate3d(-110px, 0, 0);
  transform: translate3d(-110px, 0, 0);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}
/* line 1384, ../sass/theme-elements.scss */
.pgl-team-item:hover .img-thumbnail-medium:after {
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 1387, ../sass/theme-elements.scss */
.pgl-team-item:hover .social-links li {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

/* line 1395, ../sass/theme-elements.scss */
.pgl-team-info {
  padding: 30px;
}
/* line 1397, ../sass/theme-elements.scss */
.pgl-team-info h4 {
  margin-bottom: 10px;
  text-transform: uppercase;
}
/* line 1401, ../sass/theme-elements.scss */
.pgl-team-info p {
  margin-bottom: 15px;
}
/* line 1404, ../sass/theme-elements.scss */
.pgl-team-info .text-muted {
  color: #999;
}
/* line 1407, ../sass/theme-elements.scss */
.pgl-team-info a {
  border-bottom: 1px solid #dddddd;
  color: #333333;
}
/* line 1410, ../sass/theme-elements.scss */
.pgl-team-info a:hover, .pgl-team-info a:focus {
  border-bottom-color: #d84949;
  color: #d84949;
}

/* pgl-pro-detail */
/* line 1418, ../sass/theme-elements.scss */
.pgl-pro-detail {
  margin-bottom: 53px;
}

/* flexslider */
/* line 1423, ../sass/theme-elements.scss */
.flex-control-thumbs {
  margin: 30px 25px;
  width: auto;
}
/* line 1426, ../sass/theme-elements.scss */
.flex-control-thumbs li {
  padding: 0 5px;
  width: 20%;
}

/* line 1432, ../sass/theme-elements.scss */
.flex-direction-nav a {
  border: 2px solid white;
  bottom: 181px;
  color: white;
  margin: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  text-indent: -9999em;
  text-shadow: none;
  top: auto;
}
/* line 1441, ../sass/theme-elements.scss */
.flex-direction-nav a:before {
  font-size: 1em;
  height: 100%;
  line-height: 36px;
  left: 0;
  position: absolute;
  text-align: center;
  text-indent: 0;
  top: 0;
  width: 100%;
}
/* line 1452, ../sass/theme-elements.scss */
.flex-direction-nav a:hover, .flex-direction-nav a:focus {
  border-color: #d84949;
  color: #d84949;
}
/* line 1457, ../sass/theme-elements.scss */
.flex-direction-nav .flex-prev {
  left: auto;
  right: 70px;
}
/* line 1461, ../sass/theme-elements.scss */
.flex-direction-nav .flex-next {
  right: 20px;
  text-align: left;
}

/* line 1466, ../sass/theme-elements.scss */
.flexslider {
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
}
/* line 1471, ../sass/theme-elements.scss */
.flexslider .slides > li {
  position: relative;
}
/* line 1474, ../sass/theme-elements.scss */
.flexslider .property-thumb-info-label {
  bottom: 0;
  left: 0;
  position: absolute;
}
/* line 1479, ../sass/theme-elements.scss */
.flexslider:hover .flex-prev {
  left: auto;
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 1483, ../sass/theme-elements.scss */
.flexslider:hover .flex-next {
  opacity: 1;
  filter: alpha(opacity=100);
  right: 20px;
}

/* line 1491, ../sass/theme-elements.scss */
#slider .flex-direction-nav a {
  bottom: 20px;
}

/* line 1497, ../sass/theme-elements.scss */
#carousel {
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 40px;
  padding: 30px;
}
/* line 1501, ../sass/theme-elements.scss */
#carousel .slides li {
  margin-right: 10px;
}
/* line 1505, ../sass/theme-elements.scss */
#carousel .flex-direction-nav a {
  bottom: 50%;
  margin-bottom: -20px;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* line 1510, ../sass/theme-elements.scss */
#carousel .flex-direction-nav .flex-prev {
  left: 60px;
  right: auto;
}
/* line 1514, ../sass/theme-elements.scss */
#carousel .flex-direction-nav .flex-next {
  right: 60px;
}
/* line 1520, ../sass/theme-elements.scss */
#carousel:hover .flex-direction-nav a {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* amenities-detail */
/* line 1528, ../sass/theme-elements.scss */
.amenities-detail {
  border: 1px solid #333333;
  padding: 20px;
}

/* line 1533, ../sass/theme-elements.scss */
.pgl-detail {
  padding: 0 30px 30px;
}
/* line 1535, ../sass/theme-elements.scss */
.pgl-detail h2 {
  font-size: 2.142em;
  text-transform: none;
}
/* line 1539, ../sass/theme-elements.scss */
.pgl-detail h2, .pgl-detail p {
  margin-bottom: 15px;
}
/* line 1542, ../sass/theme-elements.scss */
.pgl-detail h3 {
  font-weight: 700;
  text-transform: uppercase;
}

/* pgl-property-thumb */
/* line 1549, ../sass/theme-elements.scss */
.properties-listing .pgl-property-thumb .property-thumb-info {
  padding-right: 20px;
}
/* line 1552, ../sass/theme-elements.scss */
.properties-listing .pgl-property-thumb .property-thumb-info-content {
  height: 136px;
  padding-top: 25px;
}

/* form-contact */
/* line 1558, ../sass/theme-elements.scss */
.form-contact {
  padding-top: 15px;
}
