/* line 5, ../sass/theme.scss */
body {
  color: #666666;
  font-family: 'Raleway', sans-serif;
  line-height: 1.8;
}

/* page */
/* header */
/* line 15, ../sass/theme.scss */
#top {
  background-color: #111;
  color: #aaa;
  font-size: .928em;
}

/* line 21, ../sass/theme.scss */
.navbar-header {
  position: relative;
}

/* line 24, ../sass/theme.scss */
.logo {
  background: #d84949;
  height: 120px;
  left: 0;
  position: absolute;
  text-align: center;
  top: -38px;
  width: 240px;
}
/* line 32, ../sass/theme.scss */
.logo img {
  margin-top: 30px;
}

/* pgl-navbar-main */
/* line 38, ../sass/theme.scss */
.dropdown-menu {
  background-color: #111;
  border: none;
  border-radius: 0;
  font-size: 1.083em;
  padding: 10px 20px;
  text-transform: none;
}
/* line 46, ../sass/theme.scss */
.dropdown-menu > li > a {
  color: white;
  padding: 15px;
}
/* line 49, ../sass/theme.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #d84949;
  color: white;
}
/* line 54, ../sass/theme.scss */
.dropdown-menu > li + li {
  border-top: 1px solid #151515;
}
/* line 58, ../sass/theme.scss */
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #d84949;
}
/* line 61, ../sass/theme.scss */
.dropdown-menu .dropdown-menu {
  left: 100%;
  margin: 0 0 0 20px;
  top: 0;
}

/* line 67, ../sass/theme.scss */
.pgl-navbar-main {
  background-color: white;
  border-color: transparent;
  border-width: 0;
  border-radius: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  min-height: 80px;
  margin-bottom: 0;
  z-index: 1;
}
/* line 76, ../sass/theme.scss */
.pgl-navbar-main .navbar-collapse {
  border-color: transparent;
  font-size: .857em;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 84, ../sass/theme.scss */
.pgl-navbar-main .navbar-nav > li > a {
  padding: 30px 20px;
}
/* line 86, ../sass/theme.scss */
.pgl-navbar-main .navbar-nav > li > a:hover, .pgl-navbar-main .navbar-nav > li > a:focus {
  background-color: #111;
  color: white;
}
/* line 92, ../sass/theme.scss */
.pgl-navbar-main .navbar-nav > .active > a, .pgl-navbar-main .navbar-nav > .active > a:hover, .pgl-navbar-main .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #d84949;
}
/* line 98, ../sass/theme.scss */
.pgl-navbar-main .navbar-nav > .open > a,
.pgl-navbar-main .navbar-nav > .open > a:hover,
.pgl-navbar-main .navbar-nav > .open > a:focus {
  background-color: #111;
  color: white;
}

/* line 104, ../sass/theme.scss */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #d84949;
  border-color: transparent;
  color: white;
}

/* line 109, ../sass/theme.scss */
.navbar-default .navbar-toggle {
  border: none;
  border-radius: 0;
  margin: 36px 0 0;
  padding: 0;
}
/* line 114, ../sass/theme.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #333333;
  width: 20px;
}
/* line 118, ../sass/theme.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
/* line 120, ../sass/theme.scss */
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #d84949;
}

/* page-top */
/* line 127, ../sass/theme.scss */
.page-top {
  background: url(../images/bg-page-top.jpg) no-repeat #333333;
}
/* line 129, ../sass/theme.scss */
.page-top .container {
  display: table;
  height: 250px;
}
/* line 133, ../sass/theme.scss */
.page-top .page-top-in {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
/* line 138, ../sass/theme.scss */
.page-top h1 {
  font-size: 2.571em;
  margin: 0;
  text-transform: uppercase;
}
/* line 142, ../sass/theme.scss */
.page-top h1 span {
  background-color: white;
  display: inline-block;
  padding: 24px 27px;
}

/* pgl-advanced-search */
/* line 151, ../sass/theme.scss */
.chosen-select {
  height: 40px;
  padding: 0 10px;
  width: 100%;
}

/* line 156, ../sass/theme.scss */
.pgl-advanced-search {
  border-bottom: 1px solid #dddddd;
  padding: 50px 0 30px;
}
/* line 159, ../sass/theme.scss */
.pgl-advanced-search .form-group {
  margin-bottom: 20px;
}

/* pgl-featured */
/* line 165, ../sass/theme.scss */
.pgl-featured {
  padding-bottom: 20px;
  padding-top: 60px;
}
/* line 168, ../sass/theme.scss */
.pgl-featured h2 {
  margin-right: 100px;
}

/* line 172, ../sass/theme.scss */
.pgl-featured-bottom {
  padding-bottom: 60px;
}

/* pgl-properties */
/* line 176, ../sass/theme.scss */
.pgl-properties {
  padding-bottom: 30px;
  padding-top: 34px;
}
/* line 179, ../sass/theme.scss */
.pgl-properties h2 {
  margin-right: 100px;
}

/* pgl-agents */
/* line 185, ../sass/theme.scss */
.pgl-agents {
  padding-top: 53px;
}

/* testimonial */
/* line 190, ../sass/theme.scss */
.pgl-testimonial {
  height: 388px;
  padding: 30px 15px;
  position: relative;
  text-align: center;
}
/* line 195, ../sass/theme.scss */
.pgl-testimonial h4 {
  color: #d84949;
  margin-bottom: 10px;
  text-transform: uppercase;
}
/* line 201, ../sass/theme.scss */
.pgl-testimonial .owl-controls .owl-buttons > div {
  background-color: transparent;
  position: absolute;
  top: 60px;
}
/* line 206, ../sass/theme.scss */
.pgl-testimonial .owl-controls .owl-buttons .owl-prev {
  left: 58px;
}
/* line 209, ../sass/theme.scss */
.pgl-testimonial .owl-controls .owl-buttons .owl-next {
  right: 58px;
}

/* pgl-about */
/* line 216, ../sass/theme.scss */
.pgl-about {
  padding-top: 54px;
  margin-bottom: 10px;
}

/* map */
/* line 222, ../sass/theme.scss */
.pgl-properties-map {
  padding-top: 53px;
}

/* line 225, ../sass/theme.scss */
.map {
  height: 525px;
}

/* line 228, ../sass/theme.scss */
.contact {
  margin-bottom: 60px;
}

/* line 231, ../sass/theme.scss */
#contact-map {
  height: 305px;
  margin-bottom: 37px;
  width: 100%;
}

/* footer */
/* line 237, ../sass/theme.scss */
.pgl-footer {
  background-color: #111;
  color: #666666;
  padding: 60px 0 20px;
}
/* line 241, ../sass/theme.scss */
.pgl-footer h2 {
  color: white;
  font-size: 1em;
  margin-bottom: 25px;
}
/* line 246, ../sass/theme.scss */
.pgl-footer li {
  margin-bottom: 5px;
}

/* line 250, ../sass/theme.scss */
.pgl-upper-foot {
  margin-bottom: 12px;
}
/* line 252, ../sass/theme.scss */
.pgl-upper-foot a {
  color: #666666;
}
/* line 254, ../sass/theme.scss */
.pgl-upper-foot a:hover, .pgl-upper-foot a:focus {
  color: #d84949;
}
/* line 258, ../sass/theme.scss */
.pgl-upper-foot p {
  margin-bottom: 15px;
}
/* line 261, ../sass/theme.scss */
.pgl-upper-foot address {
  line-height: 2.2;
}

/* line 265, ../sass/theme.scss */
.pgl-copyrights {
  border-top: 1px solid #222;
  padding-top: 35px;
}
/* line 268, ../sass/theme.scss */
.pgl-copyrights a {
  color: #d84949;
}
/* line 270, ../sass/theme.scss */
.pgl-copyrights a:hover, .pgl-copyrights a:focus {
  color: #666666;
}
